<footer class="footer d-flex flex-column align-items-center">
    <img class="footer__sygnet" src="./assets/img/logo.svg" alt="Zgagatek Sygnet"/>

    <ul class="footer__list d-flex flex-column flex-xl-row flex-wrap">
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">Start</a>
        </li>
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">Zgagatek</a>
        </li>
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">O choroba!</a>
        </li>
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">Lecz to i tamto!</a>
        </li>
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">Kontakt</a>
        </li>
        <li class="footer__list-item">
            <a class="footer__list-link" href="#">Polityka Cookies</a>
        </li>
    </ul>

    <span class="footer__underline font-size-xl c-text-secondary-2">
        _ _ _
    </span>

    <p class="footer__copyright">©2021 przez Zgagatek. Wszelkie prawa zastrzeżone.</p>

    <ul class="footer__social-list d-flex">
        <li class="footer__social-item">
            <a href="#">
                <img src="./assets/img/facebook.svg" alt="Facebook">
            </a>
        </li>
        <li class="footer__social-item">
            <a href="#">
                <img src="./assets/img/instagram.svg" alt="Instagram">
            </a>
        </li>
    </ul>

    <img class="footer__background"
         src="./assets/img/footer/footer-background.svg"
         alt="Footer background">
</footer>
