@use 'assets/style/utils/functions/font-size-converter' as *;

$base-size: 16;

$font-size-xs: font-size-converter(12, $base-size);
$font-size-s: font-size-converter($base-size, $base-size);
$font-size-m: font-size-converter(20, $base-size);
$font-size-l: font-size-converter(24, $base-size);
$font-size-xxl: font-size-converter(88, $base-size);

$font-size-map: (
    'xs': $font-size-xs,
    's': $font-size-s,
    'm': $font-size-m,
    'l': $font-size-l,
    'xl': $font-size-xxl
);
