{% from "src/components/link/link.njk" import Link %}

<section class="team d-flex align-items-center">
    <div class="team__wrapper c-bg-secondary-1">
        <img class="team__top-background" src="./assets/img/team/background-top.svg" alt="Substraction">
        <img class="team__bottom-background" src="./assets/img/team/background-bottom.svg" alt="Substraction">

        <div class="team__container container d-flex flex-wrap justify-content-between align-items-center">
            <div class="team__image-wrapper col-12 col-xl-6">
                <span data-team-scene>
                    <img data-depth="0.3"
                         class="team__image"
                         src="./assets/img/team/stetoskop.svg"
                         alt="Stetoskop">
                </span>
            </div>

            <div class="team__content col-12 col-xl-6">
                <h2 class="team__title font-size-xl">
                    Lecz my <br/>
                    to i tamto!
                </h2>

                <div class="team__sub-title-wrapper">
                    <img class="team__sub-title-arrow" src="./assets/img/up-arrow-with-scribble-gray.svg"
                         alt="Strzałka pod tytułem">

                    <p class="team__sub-title font-size-l c-text-primary-2">
                        Gorąco polecany zespół fachowców.
                    </p>
                </div>

                <p class="sick__description">
                    Każdy ma swój własny sposób. Jednak nie każdy jest skuteczny. <br/>
                    Potrzebna jest wiedza, doświadczenie i ludzie, którzy wiedzą, co robić. I tu pojawiamy się my!
                </p>

                {{ Link('Dowiedz się więcej', '#') }}
            </div>
        </div>
    </div>
</section>
