{% macro Card(title, description, imageSrc, imageAlt, href, variant = 1) %}
    <a class="card" href="{{ href }}">
        <div class="card__image-wrapper d-flex align-items-center justify-content-center">
            <img class="card__background" src="./assets/img/card/variant-{{ variant }}.svg" alt="">

            <img class="card__image" src="{{ imageSrc }}" alt="{{ imageAlt }}">

            <div class="card__background-dash card__background-dash--variant-{{ variant }} c-bg-primary-1"></div>
        </div>

        <h4 class="card__title font-size-m">
            Lorem ipsum dolor sit
        </h4>

        <p class="card__description">
            {{ description }}
        </p>

        <span class="card__link c-text-primary-2 font-size-m">
            <span class="card__link-text">Czytaj dalej</span>

            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 10.209 20.499"
                 class="card__link-arrow">
                <path d="M713.932,441.6l4.135,4.787a12.191,12.191,0,0,1,2.068,2.393q1.4.107-.091.586a8.379,8.379,0,0,0-.874.589,12.779,12.779,0,0,0-5.029,7.815c-.389,1.813,2.47,2.588,2.861.767a10.111,10.111,0,0,1,4.54-6.679c.979-.616,2.072-.992,2.219-2.283.16-1.408-1.411-2.7-2.217-3.634l-5.513-6.382c-1.23-1.424-3.319.627-2.1,2.041Z"
                      transform="translate(-713.562 -439.078)"/>
            </svg>
        </span>
    </a>
{% endmacro %}
