{% extends "src/layouts/main/layout-main.njk" %}

{% block content %}
    <div data-fullpage-container>
        <div class="section">
            {% include "src/sections/section-hero/section-hero.njk" %}
        </div>
    </div>
{% endblock %}
