@font-face {
  font-family: 'love-ya-like-a-sister';
  src: url('/assets/fonts/love-ya-like-a-sister/LoveYaLikeASister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
