<header class="header">
    <img class="header__background" src="./assets/img/header/header-background.svg" alt="Header background"/>

    <div class="header__container container d-flex align-items-center justify-content-center">
        <div class="col-4 d-none d-xl-flex">
            <img src="./assets/img/header/house.svg" alt="Dom"/>

            <ul class="header__list d-flex align-items-center">
                <li class="header__list-item">
                    <a href="#" class="header__link">Zgagatek</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">O choroba</a>
                </li>
            </ul>
        </div>

        <div class="col-4 header__sygnet-wrapper">
            <img class="header__sygnet" src="./assets/img/logo.svg" alt="Sygnet">
        </div>

        <div class="col-4 d-none d-xl-flex align-items-center justify-content-end">
            <ul class="header__list d-flex align-items-center">
                <li class="header__list-item header__list-item--first">
                    <a href="#" class="header__link">Lecz my to i tamto!</a>
                </li>
                <li class="header__list-item header__list-item--last">
                    <a href="#" class="header__link">Kontakt</a>
                </li>
            </ul>

            <ul class="header__social-list d-xl-flex">
                <li class="header__social-item">
                    <a href="#">
                        <img src="./assets/img/facebook.svg" alt="Facebook">
                    </a>
                </li>
                <li class="header__social-item">
                    <a href="#">
                        <img src="./assets/img/instagram.svg" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
