.sick {
  padding-top: 16px;
  height: 100%;

  @media (min-width: 1440px) {
    max-width: 1680px;
  }

  &__content {
    text-align: center;
  }

  &__underline {
    margin-bottom: 8px;
  }

  &__sub-title {
    margin-bottom: 16px;

    @media (min-width: 1400px) {
      margin-bottom: 40px;
    }
  }

  &__description {
    margin-bottom: 16px;
    font-family: 'Roboto Slab', serif;

    @media (min-width: 1400px) {
      margin-bottom: 40px;
    }
  }

  &__character {
    max-width: 2155px;

    @media (min-width: 1400px) {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(-40%, -50%);
    }
  }
}
