{% from "src/components/link/link.njk" import Link %}

<section class="sick container d-flex flex-column flex-xl-row justify-content-center justify-content-xl-start align-items-xl-center">
    <div class="sick__content col-12 col-xl-6">
        <h2 class="sick__title font-size-xl">
            Choroba! <br/>
            A co mnie piecze?
        </h2>
        <span class="sick__underline font-size-xl c-text-secondary-2">_ _ _</span>
        <p class="sick__sub-title font-size-l c-text-primary-2">
            Piecze? Gdzie? Jak? Dlaczego? Dowiaduj się na zdrowie!
        </p>
        <p class="sick__description">
            Jak to się dzieje, że tak fatalnie się czujesz? <br/>
            Skąd biorą się te wszystkie, paskudne problemy? <br/>
            Zajrzyj w głąb i poznaj przyczyny od środka.
        </p>
        {{ Link('Dowiedz się więcej') }}
    </div>

    <img class="sick__character"
         src="./assets/img/sick/zgagat-lezacy.svg"
         alt="Zgagatek Leżący"/>
</section>
